@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Raleway');
@import url("../../jstock14.github.io/z_monday_bakery/option_1/css/style.css");

body {
	background-color: ghostwhite;
}

article {
	color: #303030;
	font-family: "Raleway", sans-serif;
	font-size: 1.2em;
	line-height: 1.3em;
	text-align: left;
	display: block;
	width: 80%;
    padding: 1% 9% 0 9%;
}

h1 {
	color: #303030;
	font-family: 'Great Vibes', cursive;
	font-size: 3.5em;
	font-weight: 200;
	text-align: center;
}

h3 {
	color: #303030;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

a {
	color: #556CE8;
	font-family: 'Raleway', sans-serif;
}

ul {
	list-style-type: none;
	display: block;
}


footer {
	text-align: center;
	font-size: 1em;
    margin: 5px;
    clear: both;
}

#header {
	width: 100%;
}

#welcome {
	width: 70%;
	float: right;
}

#logo {
	width: 30%;
	float: left;
}

#photo {
	padding-left: 10%;
	width: 90%;
}


#main_nav {
	list-style-type: none;
    margin: 1em;
    padding: 0;
    overflow: hidden;
    background-color: #7C92FF;
	text-align: center;
	width: 100%;
}

.main_nav1 {
    display: inline-block;
}

.main_nav_link, .main_nav_link a  {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
}

/* Change the link color to #111 (black) on hover */
.main_nav_link:hover {
    background-color: #B8FFD5;
}


.wrapper {
	max-width: 1400px;
	width: 100%;
}

#slideshow {
	display: block;
	width: 60%;
	margin: 5% 5% 0 25%;
}

