@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Raleway');
@import url("../../jstock14.github.io/z_monday_bakery/option_1/css/style.css");

body {
	color: #303030;
	background-color: ghostwhite;
	font-family: "Raleway", sans-serif;
	font-size: .95em;
	margin: 10px;
	line-height: 1.25em;
	text-align: left;
}

#logo {
	display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 0px 0px 10px;
    height: 110px;
}

header {
	background-color: ghostwhite;
	padding: 2px;
}

#main_nav {
	list-style-type: none;
    margin: 1em;
    padding: 0;
    overflow: hidden;
    background-color: #7C92FF;
	text-align: center;
}

.main_nav1 {
    display: inline-block;
}

.main_nav_link  {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.main_nav_link:hover {
    background-color: #B8FFD5;
}

h1 {
	color: #303030;
	font-family: 'Great Vibes', cursive;
	font-size: 50px;
	font-weight: 200;
	text-align: center;
}

h3 {
	color: #303030;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.blurb {
	padding-top: 0;
	width: 500px;
    float: left;
    margin-left: 4em;
}

a {
	color: #556CE8;
}

ul {
	list-style-type: none;
	display: block;
	
}


footer {
	text-align: center;
	font-size: 0.7em;
    margin: 5px;
    clear: both;

}

#slideshow {
	padding: 10px 300px 0 0;
	max-width: 100px;
	max-height: 100px;
    float: right;
    margin: 3em;
}

#sally {
	display: block;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	max-height: 400px;
	padding: 1em 0 1em 0;
}


