@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,700|Sacramento');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #303030;
	background-color: #ffffff;
	font-family: "Josefin Slab", serif;
	/* margin: 50px; */
	font-size: 18px;
	line-height: 1.5;
}

header {
	background-color: #ffffff;
	padding: 20px;
}

nav {
	background-color: #bde4f7;
	padding: 10px;
	text-align: center;
	border: 1px black solid;
}

nav a {
	font-family: "Josefin Slab", serif;
	font-size: 18px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding: 60px;
}

article {
	background-color: #ffffff;
	padding: 20px;
	width: 70%;
	float: left;
	display: inline-block;
}

footer{
	background-color: #ffffff;
	display: block;
	float: left;
	width: 100%;
}
* + p { margin-top:1em; }
h1 {
	color: #000000;
	font-family: 'Sacramento', cursive;
	font-size: 80px;
	font-weight: 200;
	text-align: center;
}

h2 {
	font-family: 'Sacramento', cursive;
	font-size: 50px;
	font-weight: 200;
	text-align: center;
	color: #FF2391
}

h3 {
	font-family: 'Sacramento', cursive;
	font-size: 1.35em;
	text-align: center;
	color: #FF2391;
}

h2 a {
	font-family: 'Sacramento', cursive;
	font-size: 50px;
	font-weight: 200;
	text-align: center;
	color: #FF2391
}

ul {
	text-align: center;
	list-style-type: none;
}

a {font-family: "Josefin Slab", serif;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: #FF2391;
	text-decoration: none;
}

.leadphotos {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;
	max-width: 500px;
}

#slogan {
	font-family: "Josefin Slab", serif;
	font-size: 30px;
	color: #FF2391;
	text-align: center;
}

#logo {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px
}

#aside {
	background-color: #ffffff;
	display: block;
	width: 30%;
	float: right;
}

.blurb {
	background-color: #ffffff;
	text-align: center;
	width: 60%;
	float: left;
}

#one {
	background-color: #ffffff;
	padding: 20px;
	float: left;
	text-align: center;
	width: 60%;
	border-bottom: 1px black;
}

#two {	
	background-color: #ffffff;
	padding: 20px;
	float: left;
	text-align: center;
	width: 60%
	border-bottom: 1px black;
}

#three {
	background-color: #ffffff;
	padding: 20px;
	float: left;
	text-align: center;
	width: 60%
	border-bottom: 1px black;
}

#four {
	background-color: #ffffff;
	padding: 20px;
	float: left;
	text-align: center;
	width: 60%
	border-bottom: 1px black;
}

.clearfix: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
