body {
	color: #303030;
	background-color: white;
	font-family: "gotham", sans-serif;
	font-size: 18px;
	font-weight: 100;
}

h1 {
	color: #303030;
	font-family: "gotham", sans-serif;
	font-size: 48px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-family: "gotham", sans-serif;
	font-size: 30px;
	font-weight: 200;
	text-align: center;
	text-transform: uppercase;
}

#slogan {
	font-style: italic;
	font-size: 30px;
	color: #FF4674;
	text-align: center;

}

.leadphotos {
	display: block;
	margin: auto;
}